    CREATE FUNCTION ping(n INT) return INT
    AS
       r_val INT := 0;
    BEGIN
        IF n <= 0 THEN
            put_line('-- end --');
        ELSE
            put_line('ping ->');
            r_val := pong(n - 1);     -- 상호 재귀 호출
        END IF;
    END;

    CREATE FUNCTION pong(n DATE) return INT
    AS
       r_val INT := 0;
    BEGIN
        IF n <= 0 THEN
            put_line('-- end --');
        ELSE
            put_line('      <- pong');
            r_val := ping(n - 1);     -- 상호 재귀 호출
        END IF;
    END;


CREATE PROCEDURE ping_pong(cnt INT)
AS
    r_val INT := 0;
BEGIN
    r_val := ping(cnt);
END;

call ping_pong(14);